@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

* {
    box-sizing: border-box;
  }
  
  .header {
    border: 1px solid red;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .heading{
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    font-weight: bold;
    background-color: orangered;
    color: white;
  }

  .ulhead {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
  }

  .lihead {
    font-size: 30px;
    margin-left: 50px;
    float: left;
  }

  a{
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  a:hover{
    font-size: 40px;
    color:white;
  }

  .floatinglink{
      float: right;
  }

  .marginlink{
      margin-top: 15px;
  }

  body{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 17px;
  }

  .headinghome{
    font-family: 'Staatliches'; 
    font-weight: lighter;
  }

  .headingp{
      font-size: 18px;
      color: #878787;
      font-family: 'Didact Gothic', sans-serif;
  }

  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container img {
      vertical-align: middle;
      height: 250px;
      width: 350px;
    }

    .container h2 {
        margin-top: -10px;
      }

    .container p {
        margin-top: -10px;
        margin-bottom: -10px;
    }
  .container .content {
    position: absolute;
    bottom: 0;/* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin-left: 17px;
    margin-bottom: 15px;
    width: 84.6%;
    padding: 20px;
    font-size: 15px;
  }

  .container .content:hover { /* Fallback color */
    background: rgba(255, 69, 0, 0.9); /* Black background with 0.5 opacity */
  }

  .btnregister input[type="submit"]{
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    margin-top: 30px;
    border: none;
    outline: none;
    height: 50px;
    width: 30%;
    color:white;
    background: orangered;
  }

  .headingbook{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  .books p{
    margin-top: 5px;
    font-size: 20px;
  }
  .books span{
    font-size: 15px;
    color: #878787;
  }

  .books img{
    height: 300px;
  }

  .rupees span{
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    color: #62ab00;
  }

  #rsstrike{
    font-size: 20px;
    color: #878787;
  }

  .borderleft{
    border-left: 1px solid #878787;
  }

  .loginbody{
    margin: 0;
    padding: 0;
    background: url(img/main8.jpg);
    background-size: cover;
    font-family: 'Staatliches', cursive;
    text-align: center;
    color:orangered;
  }
  .loginbox{
    width: 520px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 70%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    font-size: 30px;
  }

  .loginbox h1{
    color: white;
    text-decoration-line: underline;
  }

  .loginbox p{
    margin-left: 75px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Didact Gothic', sans-serif;
  }

  .loginbox input[type="text"],
  .loginbox input[type="password"]{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    font-family: 'Didact Gothic', sans-serif;
    width: 70%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid orangered;
  }

  .loginbox input[type="submit"]{
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    margin-top: 50px;
    width: 70%;
    border: none;
    outline: none;
    height: 50px;
    color:white;
    background: orangered;
    border-radius: 50px;
  }

  .regbody{
    margin: 0;
    padding: 7px;
    background: url(img/main10.jpg);
    background-size: cover;
    font-family: 'Staatliches', cursive;
    text-align: center;
    color:black;
  }

  .regbox{
    width: 520px;
    height: 720px;
    position: absolute;
    top: 55%;
    left: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    font-size: 30px;
  }
  .regbox h1{
    color: white;
    text-decoration-line: underline;
  }

  .regbox p{
    margin-left: 75px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Didact Gothic', sans-serif;
  }

  .regbox input[type="text"],
  .regbox input[type="password"]{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    font-family: 'Didact Gothic', sans-serif;
    width: 70%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid black;
  }

  .regbox input[type="submit"]{
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    margin-top: 50px;
    width: 70%;
    border: none;
    outline: none;
    height: 50px;
    color:white;
    background: orangered;
    border-radius: 50px;
  }
  

  #msg1{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  #msg2{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  #msg3{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  #msg4{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  #msg5{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  #msg6{
    color:white; 
    font-size: 15px; 
    font-family: 'Didact Gothic', sans-serif;
    text-align: left; 
    margin-left: 75px;
    font-weight: bold;
  }

  .contact h1{
    color: red;
    font-family: 'Patua One', cursive;
    margin-bottom: -20px;
  }
  
  .contact p{
    margin-top: 0px;
  }

  .contact span{
    color: #878787;
    font-weight: bold;

  }

  .contactform input[type="text"]{
      width: 100%;
      padding: 15px;
      font-family: 'Didact Gothic', sans-serif;
      font-size: 20px;
      outline: none;
  }

  .contactform textarea{
    width: 100%;
    padding: 15px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    outline: none;
  }